@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
  border-radius: 0;
}

::-moz-focus-inner {
  padding: 0;
  border-radius: 0;
}
